*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-x: hidden;
}
body{
    background-image: linear-gradient(92deg, #070A0F,#1F2F49, #585862);
}
header, nav, main, footer{
    display: flex;
}

nav ul{
    justify-content: space-evenly;
    display:flex;
    gap: 30px;
    width: 100vw;
    list-style-type: none;
    align-items: center;
    font-size: 13px;
}
.menu-first ul{
    height: 75px;
    display: flex;
    align-self: center;
    justify-content:center;
    
}
nav .menu-first-items a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
nav .menu-first-items a:hover{
    color: #5e60f5;
    text-shadow: #010230 1px 1px 1px;
    transition: 300ms;
}
.logo{
    position: absolute;
    margin-left: 40px;
    background-image: url(assets/logo.jpeg);
    background-size: cover;
    background-position: center;
    border: solid rgb(96, 96, 96);
    border-radius: 9%;
    padding-top: 40px;
    width: 125px;
    margin-top: 2px;
    height: 71px;
    
}
.logo:hover{
    box-shadow: black 4px 1px 4px 1px;
    transition: 300ms;
}

.containerUpgrade p{
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}

.main-banner{
    background-image: url(assets/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 473px;
    width: 100vw;
    position: absolute;
}
.main-banner a{
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.71);
    width: 250px;
    height: 30px;
    padding-top: 5px;
    border-radius: 10px;
    text-align: center;
}
main div.main-banner h1{
    padding-bottom:70px;
    font-weight: 1000;
} 
main div.main-banner h2{
    font-size: larger;
    font-weight: 100;
    
} 
main div.main-banner h1, h2{
    display: inline-flex;
    position: absolute;
    margin-bottom:50px ;
    color: white;
}

.slogan{
    text-shadow:black 3px 2px 7px;
}
.sloganh2{
    font-weight: 400;
    text-shadow: 2px 1px 1px black;
}


.containerSolucoes{
    justify-content: flex-start;
    display:flex;
    width: 100vw;
    list-style-type: none;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    margin-top: 31%;
    background-color: #83828275;
}
.containerSolucoes a{
    color:white;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 285px;
    height: 382px;

}
.perifericos, .cpu, .gpu, .outros{
    background-image:url(assets/perifericoss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
}
.cpu{
    background-image: url(assets/CPU.jpg);
}

.gpu{
    background-image: url(assets/placaDeVideo.jpg);
}

.outros{
    background-image: url(assets/outros.jpg);
}

.perifericos h2, .cpu h2, .gpu h2, .outros h2{
    font-size: medium;
    text-align: center;
    padding-top: 18px;
    background-color: green;
    height: 60px;
    display: block;
    width: 285px;
}
.cpu h2{
    background-color: rgb(20, 20, 185);  
}

.gpu h2{
    background-color: rgb(233, 0, 0);
}
.outros h2{
    background-color: rgb(125, 126, 220);
}

.perifericos:hover, .cpu:hover, .gpu:hover, .outros:hover{
    z-index: 1;
    -webkit-box-shadow: -1px 4px 10px 14px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 10px 14px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 10px 14px rgba(0,0,0,0.75);
    transition: 400ms;
}

#upgrade{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/pexels-martin-lopez-2225617.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.containerUpgrade{
    display: flex;
    margin-left: 25%;
    margin-top: 10%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.700);
    height: 50%;
    width: 50%;
    border: groove black 5px;

}
.cpu-z{
    position: absolute;
    color: white;
    margin-top: 3%;
    display: flex;
}
.cpu-z a{
    text-shadow: blue 1px 0px 1px;
    color: #0008ff;
    text-decoration: none;
    display: contents;
}

.tituloUp{
    display: inline-flex;
    color: white;
    position:absolute;
    margin-bottom: 20%;
    margin-left: 14%;
    text-shadow: black 3px 1px 2px;;
}
.subtituloUp{
    display: inline-flex;
    color: white;
    position:absolute;
    margin-bottom: 15%;
    margin-left: 11%;
    text-align: center;
    text-shadow: black 3px 1px 2px;;
}
.formularioUpgrade{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  color: aliceblue;
  width: auto;
}

#about{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.missao{
    display: flex;
    height: 100vh;
    width: 33.33em;;
    background-image: url(assets/missao.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cardtxt{
    font-size: 1.5em;
    text-align:center;
    color: rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
    width: 100%;
}
.cardtxt:hover{
    background-color: rgba(0, 0, 0, 0.700);
    color: rgba(240, 235, 152, 0.932);
    transition: 500ms ease-out;
    padding-top: 50%;
    display: block;
}
.visao h1, .valores h1, .missao h1{
    position: absolute;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.579);
    width: 33.71%;
    color: white;
    justify-content: center;
    height: 7%;
    align-items: center;
}
.valores h1{
    width: 32.5%;
}
.visao, .valores{
    display: flex;
    width: 33.33em;
    height: 100vh;
    background-image: url(assets/visao.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

.valores{
    background-image: url(assets/valores.jpg);
}
.footerContainer{
    width: 100vw;
    height: 50vh;
    background-color: #070707e1;
}
.menu-rodape li a{
    text-decoration: none;
    color: #fffdfd;
}
.menu-rodape li a:hover{
    color: #5e60f5;
    transition: 400ms;
}
.menu-rodape-items{
    height: 15vh;
    justify-content: center;
}
.rodapetxt{
    display: inline-flex;
    text-align: center;
    margin: 5% 0px 0px 22%;
    font-size:small;
    color: #717171;
}
