* {
margin: 0%;
box-sizing: border-box;
overflow-x: hidden;
font-family: sans-serif;
}

.header-sobre-nos{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/bannerzin.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
 }
.bannerTxt{
    color: white;
}
 main{
    width: 100vw;
    height: 100vh;
 }
 .duda , .carlos, .tawan, .raquel{
    height: 100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.749);
 }
  .dudatitulo , .carlostitulo{
    color: beige;
    margin-left: 35%;
    margin-top: 12%;
    display:inline-flex;
 }
 .dudatxt{
    color: beige;
    font-size: larger;
    display: inline-flex;
    margin-left: 35%;
    margin-top: 3%
 }
 .dudaImg, .carlosimg{
    height: 450px;
    width:450px;
    background-image: url(assets/dudaSer+.png);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
 }

 .carlos{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.728);

 }
 .carlosimg{
    background-image: url(assets/carlos.jpeg);

 }
 .carlostxt{
    color: beige;
    font-size: larger;
    display: inline-flex;
    margin-left: 35%;
    margin-top: 3%
 }